<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="aleksey.sheyko.staticdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="143d23456e254b1c4cf31fba3722e9f640989752" />

        <activity
            android:name=".app.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activities.SelectActivity"
            android:parentActivityName=".app.activities.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".app.activities.SocialActivity"
            android:parentActivityName=".app.activities.SelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activities.SelectActivity" />
        </activity>
    </application>

</manifest>
